[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jira = "*"
requests = "*"
fastapi = "*"
mangum = "*"
pipdeptree = "*"
scikit-learn = "*"
numpy = "~=1.23.0"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-xdist = "*"
pre-commit = "*"
mypy = "*"
cfn-lint = "*"
pytest-asyncio = "*"
testcontainers = "*"
requests-mock = "*"
jeepney = "*"
pyjwt = "*"

[requires]
python_version = "3.7"
